rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all documents for simplicity.
    // This should be secured properly for a production environment.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
