
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 24 48% 95%;
    --foreground: 24 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 24 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 10% 20%;
    --primary: 340 85% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 30% 90%;
    --secondary-foreground: 24 10% 20%;
    --muted: 24 30% 90%;
    --muted-foreground: 24 10% 40%;
    --accent: 12 76% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 30% 85%;
    --input: 24 30% 85%;
    --ring: 12 76% 61%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 24 88% 70%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 24 10% 15%;
    --foreground: 24 30% 95%;
    --card: 24 10% 20%;
    --card-foreground: 24 30% 95%;
    --popover: 24 10% 15%;
    --popover-foreground: 24 30% 95%;
    --primary: 340 85% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 10% 25%;
    --secondary-foreground: 24 30% 95%;
    --muted: 24 10% 25%;
    --muted-foreground: 24 30% 70%;
    --accent: 12 76% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 10% 25%;
    --input: 24 10% 25%;
    --ring: 12 76% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
